name: Frontend Unit Tests (root trigger)

on:
  push:
    branches:
      - 'feature/**'
  pull_request:
    branches:
      - main

jobs:
  call-frontend-tests:
    uses: ./java/forget-pass/.github/workflows/frontend-tests.yml
    with: {}
