server:
  port: 8080
  jetty:
    threads:
      acceptors: 1
      selectors: 2

spring:
  datasource:
    url: jdbc:sqlite:${user.dir}/data/forget-pass.db
    driver-class-name: org.sqlite.JDBC
    hikari:
      pool-name: forget-pass-pool
      maximum-pool-size: 10
      minimum-idle: 2
      connection-timeout: 30000
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.community.dialect.SQLiteDialect
        format_sql: false
        jdbc:
          time_zone: UTC
    open-in-view: false
  jackson:
    time-zone: UTC

logging:
  level:
    root: INFO
    org.springframework.security: INFO

app:
  security:
    bcrypt-strength: 12
